@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Copyright free music</h1>
    <iframe width="956" height="538" src="https://www.youtube.com/embed/qyTDw2SoYpE" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>
    <button onclick="myMove()">Click Me</button>
    <script src="~/js/site.js"></script>
</div>
